<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="homePadd"> <div><img src="/images/beer.png" alt="">
    <button type="button" class="btn btn-primary">Check the beers</button>
    <button type="button" class="btn btn-primary">Check the random beers</button>
    </div>
    </div>
     
</body>
</html>